/* Universal reset: */
*{
	margin:0;
	padding:0;
}
/*--------Reset Tags---------*/
 div, span, object, iframe,
 h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	border:0;
    outline:0;
    font-size:12px;
}
html, body {
    height: auto !important;
    min-height: 100%;
}
 body
	{
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	font-family:verdana !important;
	font-size:13px;
	color:#333;
	background-color:#FFFFFF;
	}
nav ul {
    list-style:none;
}
ul 
{
	list-style-type:none;
}

blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
p {
	/*text-align:justify;*/
	line-height:1.5em;
}
a {
    color:#333;
	text-decoration:none;
}
a {outline: none}
h1 {
	font-size:20px;
	font-weight:normal;
	color:#333;
}
h2 {
	font-size:18px;
	font-weight:normal;
	color:#333;
}
h3 {
	font-size:16px;
	font-weight:normal;
	color:#333;
}
h4 {
	font-size:14px;
	font-weight:normal;
	color:#333;
}
h5{
	font-size:12px;
	font-weight:normal;
	color:#333;
}
/*-------------------------*/
.blueBackGroud
{
	background: url("/images/blueBG.png") repeat-x scroll left top transparent;	
}
.smallFont{font-size:11px!important;}
